body{
    background-color:#1E3A81;
    height:100%;
    margin:0;
    padding:0;

}




@media screen and (max-width: 480px){
body{
    background-color:#1E3A81;


}

.menu {
    text-align:center;;
    padding:0;
    margin:0;
    list-style:none;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:1.0025em;
    background-color:#00005F;
    width:100%;

}
.menu img{
    position:relative;
    width:35%;
    top:0.4953125%;
}
.menu li{
    position:relative;
    top:16%;
    margin:0;
    padding:1%;
    border:0.09px solid white;
    display:block;



}
.menu li a{
    color:white;
    text-decoration:none;


}
.menu li a:hover{
    color:orange;
}



}

@media screen and (min-width: 481px){

body{
    background-color:#1E3A81;
    height:100%;

}

.menu {

    float:left;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:0;
    padding:0 3% 0 0;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:1.3025em;
    list-style:none;
    background-color:#00005F;
}
.menu img{
    position:absolute;
    width:8%;
    left:14%;
    top:0.1953125%;
    padding-right:3.5%;

}
.menu li{

    float:right;
    padding:1.35% 2.75%;


}
.menu li a{

    color:white;
    text-decoration:none;
}
.menu li a:hover{
    color:orange;
}





}



